*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

main {

    margin: 80px 800px;
    color: blue;

}
.calculator{
    text-align: center;
    display: grid;
    background-color: rgba(201, 221, 223, 0.678);
    grid-template-areas:
    "p p p" 
    "one two three"
    "four five six"
    "seven eight nine"
    "zero zero zero";
    border:2px solid rgb(24, 31, 13);

}
.p{
    grid-area: p;
    width: auto;
    height: 2rem;
}

button{
    cursor: pointer;
}

.number{
    /* border: 1px solid green; */
    
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin: .6rem;
    box-shadow: 1px 2px 0 #555555;
}