*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:2px solid rgb(188, 194, 179);
}

main {

    margin: 80px 780px;
    color: blue;


}

.calculator{
    text-align: center;
    display: grid;
    background-color: rgba(201, 221, 223, 0.678);
    grid-template-areas:
    "p p p p" 
    "one two three plus"
    "four five six divide"
    "seven eight nine multiply"
    "zero dot equals equals";

}
.p{
    grid-area: p;
    width: auto;
    height: 2rem;
}

button{
    cursor: pointer;
    width: auto;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin: .6rem;
    box-shadow: 3px 5px rgba(178, 180, 180, 0.349);

}

.number{
    /* border: 1px solid green; */
    
    
    
}